body {
    font-family: 'Gugi', cursive;
    text-align: center;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

li {
    display: inline;
    margin: 2px;
}

h4 {
    font-size: 1.5em;
}

p {
    font-size: 1.1em;
}

.btn {
    font-family: 'Gugi', cursive;
    border: 0;
    font-size: 2em;
    display: none;
    cursor: pointer;
}

#play-again , #try-again{
    display: inline;
}

.em {
    font-size: 2em;
}

.selected {
    border: 2px cadetblue dashed;
}

.description {
    display: inline-block;
    margin: 1em;
    font-size: 1em;
    font-weight: bold;
}
.stat {
    font-weight: bold;
    font-size: 2em;
    display: inline-block;
    border: 3px black solid;
    padding: 5px;
    margin: 20px 20px 0px 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 5% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.2), 0 7px 20px 0px rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes 
modalopen {  from {
opacity: 0
}

to { opacity: 1 }
}

img.avatar {
    cursor: pointer;
}